{% extends 'layouts/admin.html' %}

{% block title %}List Registration{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Breadcrumb -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline ">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Beranda</a>
                    <span class="breadcrumb-item active">Dashboard<span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>

            <div class="header-elements d-none">
                <div class="breadcrumb justify-content-center">
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->
</div>
{% endblock %}

{% block style %}

{% endblock %}

{% block scripts %}
<script src="/static/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
<script src="/static/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
{% endblock %}

{% block js %}

{% endblock %}